<h2>Admin</h2>

<p>Du är inloggad som admin</p>

<form action="/recipes" method="get">
    <input type="submit" value="Recept">
</form>

<form action="/users/:id/delete" method="post">
    <input type="submit" value="Delete user">
</form>

<form action="/users/:id/update" method="post">
    <input type="submit" value="Update user">
</form>

<form action="/groups" method="get">
    <input type="submit" value="Groups">
</form>
