<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mmm Mumsigt</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <header>
        <div class="logo">Mmm Mumsigt</div>
    </header>

    <%= yield %>
</body>
</html>
