<body>
    <h2>Dina grupper</h2>
    <% @user_group.each do |group| %>
        <li>
            <a href="/groups/<%= group["groupid"]%>"><%= group['name'] %> </a>
        </li>
    <% end %>

    <h2>Andra grupper</h2>
    <% @other_group.each do |group| %>
        <li>
            <%= group["name"] %>
            <form class='join' action="/groups/<%=group["id"]%>/join" method="post" >
	           <input type="submit" value="Joina"> 
            </form>
        </li>   
    <% end %>
</body>
</html>