<form action="/login" method="get">
    <input type="submit" value="Login">
</form>

<h2>Registrera</h2>

<form action="/users" method="post">

 <label>Användarnamn
    <input type="text" value="" name="user_name" id="user_name" required></label>

  <label for="password">Lösenord
    <input type="password" value="" name="user_password" id="user_password" required></label>

  <input type="submit" value="Save">
</form>